<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserInfoDao">



    <insert id="insert" parameterType="entity.UserInfo">

        insert into USER_INFO(USER_ID,USER_NAME,USER_PWD,USER_SCORE,USER_WINNUM,USER_LOSENUM)

        values
        (#{userID},#{userName},#{userPWD},#{userScore},#{userWinNum},#{userLoseNum})
    </insert>


    <update id="update" parameterType="entity.UserInfo">

        update USER_INFO set
        <if test="userPWD!=null"> USER_PWD=#{userPWD},</if>
         USER_SCORE=USER_SCORE+#{userScore},USER_WINNUM=USER_WINNUM+#{userWinNum},USER_LOSENUM=USER_LOSENUM+#{userLoseNum}
        where USER_ID=#{userID}
    </update>

    <select id="select" parameterType="String" resultType="entity.UserInfo">
        select * from USER_INFO
        where USER_NAME=#{userName}
    </select>


</mapper>